/* styles.css */
footer {
    text-align: center;
}


#image-upload-section {
    position: relative;
}
#get-properties-button {
    top: 10px;
    left: 10px;
    display: none;
}
#image-upload-label {
    display: inline-block;
}
#uploaded-image {
    display: block;
    max-width: 100%;
    margin-top: 10px;
}